* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

main{
     flex: 1 0 auto !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}
header{
    
    background-color:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) !important ;
}

#logout,#headpage{
    display: none ;
}


body {
     /* display: flex; 
    /*justify-content: center;  
     align-items: center;  */
     /* min-height: 100vh; */
    /* background-color: #008fff; */
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.container {
    position: relative;
    margin-top: 50px;
    width: 350px;
    /* border:1px solid red; */
    background-color: #ffff;
    height: 400px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.container h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    /* color: #ffff; */
}

.input input {
    width: 100%;
    height: 40px;
    background: transparent;
    padding-left: 15px;
    padding-right: 40px;
    /* border: transparent; */
    margin-top: 10px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    
    font-weight: 500;
    border: 1px solid #0073e6



}

.input i {
    position: relative;
    font-size: 20px;
     /* right: 20px; */
      left: 90%; 
    bottom: 30px;  
    /* transform: translate(80px);  */
    color: #0073e6;

}

.rember-forget a {
 
    text-decoration: none;
    color: #0073e6;

}

.btnlogin {
    text-align: center;
    padding: 8px 135px;
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
    transition: all .4sec;
    outline: none;
    border: none;
    color: #ffff;

}

.register p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;

}

.register a {
    text-decoration: none;
    color: #0073e6;
}

button{
    display: flex;
    justify-content: center;
}

footer{
    margin-top: 200px;
    min-height: calc(100vh-200px)
}
/* .button a{
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding: 5px 12px;
    margin-top: 20px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:active{
    background-color: #0059b3;
    color:#fff ;
} */

